<html>
<body>
<ol>
Lista dostępnych filmów:
<li><a href="{{path('filmy_gladiator')}}">Gladiator</a><a href="{{path('filmy_gladiator')}}"><img src="http://1.fwcdn.pl/po/09/36/936/7472818.3.jpg" /></a>
<li>
<li>
</ol>
<ol>
Lista popularnych filmów(najczęściej wypożyczanych)
<li>
<li>
<li>
</ol>
<ol>
Lista najczęściej recenzowanych filmów
<li>
<li>
<li>
</ol>
<ol>
Lista gatunków z których spośród których można wybierać filmy
<li>
<li>
<li>
</ol>
</body>
<html>