{% extends "FilmyBundle::bars.html.twig" %}

{% block header %}
<h1>Filmy</h1>
{% endblock %}


{% block content %}
<ol>
Lista gatunków z których spośród których można wybierać filmy
<li><a href="{{path('filmy_commedy')}}">Komedia</a>
<li>
<li>
</ol>

{% endblock %}