{% extends "FilmyBundle::bars.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}





{% block content %}

<ol>
Lista gatunków z których spośród których można wybierać filmy
<li><a href="{{path('filmy_commedy')}}">Komedia</a>
<li>
<li>
</ol>

{% endblock %}