{% extends "FilmyBundle::bars.html.twig" %}

	{% block header %}
		<h1>MoviesView</h1>
	{% endblock %}



	{% block content %}
		
		

		
    		{{ dump(movies) }}
    		{{ dump(actors) }}
    		{{ dump(reviews) }}
    		{{ dump(users) }}
 
    
    
   
		
			

		
		
    
        
 
    	
 

	{% endblock %}