{% extends "FilmyBundle::bars.html.twig" %}

	{% block header %}
		<h1>Orders</h1>
	{% endblock %}



	{% block content %}
		
		<h2>Dodaj Order</h2>
		
		<form method="POST">
		{{ form_widget(form) }}
		<button type="submit">Dodaj Wpis</button>
		</form>
		
    
        
 
    	
 

	{% endblock %}