{% extends "FilmyBundle::bars.html.twig" %}



    {% block header %}
        <h1>QueryView</h1>
    {% endblock %}



    {% block content %}
        
      

    
        
 
        
 

    {% endblock %}
        
        
    




