{% extends "FilmyBundle::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block header %}

{% if app.user.username is defined %}
    <p>Zalogowano jako {{ app.user.username }}</p>
{% else %}
	<p>Niezalogowany użytkownik<br></p>
	<a href="http://v-ie.uek.krakow.pl/~s173152/app_dev.php/login">Zaloguj się</a>
	<br><a href="http://v-ie.uek.krakow.pl/~s173152/app_dev.php/register">Zarejestruj się</a>
{% endif %}


{% endblock %}

{% block menu %}

{% endblock %}