<html>
<head>
	{% block title %}
	{% endblock %}

<link rel="stylesheet" type="text/css" href="{{asset('bundles/filmy/css/bootstrap.css')}}">
<link rel="stylesheet" type="text/css" href="{{asset('bundles/filmy/css/global.css')}}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>	<!-- skrypty do rozwijanej listy w orderslist -->
</head>


<body>
	<header>
		

		
		{% block header %}
		{% endblock %}

	</header>
	
			{% block menu %}
			{% endblock %}
		

	
			{% block content %}
			{% endblock %}
		
	
	


</body>
</html>