<html>
<head>
	{% block title %}
	{% endblock %}

<link rel="stylesheet" type="text/css" href="{{asset('bundles/filmy/css/bootstrap.css')}}">
</head>


<body>
	<header>
		

		
		{% block header %}
		{% endblock %}

	</header>
	
			{% block menu %}
			{% endblock %}
		

	
			{% block content %}
			{% endblock %}
		
	
	


</body>
</html>