{% extends "FilmyBundle::bars.html.twig" %}



    {% block header %}
        <h1>ReviewDisplayView</h1>
    {% endblock %}



    {% block content %}
        
      
   <ul>
       
        
    </ul>
    
        
 
        
 

    {% endblock %}
        
        
    




