{% extends "FilmyBundle::layout.html.twig" %}

{% block content %}
<br>Opis:<br>Generał Maximus - prawa ręka cesarza, szczęśliwy mąż i ojciec - w jednej chwili traci wszystko. Jako niewolnik-gladiator musi walczyć na arenie o przeżycie.<br>
Okładka:<img src="http://1.fwcdn.pl/po/06/28/628/7495038.3.jpg" />
<br>Lista aktorów:<br>
Russel Crowe<br>
Joaquin Phoenix<br>
Connie Nielsen<br>
Oliver Reed<br>
Cena wypożyczenia:<br>
miliard
<br>
<button type="button" class="btn btn-success">Wypożycz - to ma byc przycisk</button><br>
if zalogowany widze recenzje
{% endblock %}